body {
	/* background-color: #fff; */
	/* background-color: #99B898; */
	/* background-color: #FECEA8; */
	/* background-color: #FF847C; */
	/* background-color: #2A363B; */
	background-color: #E84A5F;
    /* background-color: #6F213B; */

}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

/* only used if wallart image is used */
.banner {
	max-width: 700px;
	margin-top: 10px;
	background-color: #2A363B;
}
/* only used if wallart image is used */


@media (max-width: 770px) {
	.container {
		margin: 0 10%;
	}
}
