.card {
	margin: 1% 1% !important;
}

.container {
	margin: 1px 0;
	background-color: #2a363b;
	padding: 1px;
	justify-content: center;
    /* background-color: #1E6194; */
}

/* .intro_container {
	margin: 1px 0;
	background-color: #99B898;
    -- background-color: #1E6194; 
} */

.bot_information {
	border-right: 10px solid #ff847c;
}

.discord_information {
	border-left: 10px solid #99B898;
}

.discordlogo {
	max-width: 100%;
}

.placeholder {
	color: ghostwhite;
	margin: 30px 30px !important;
}

.sarcastic_introduction {
	border-left: 10px solid #fecea8;

}

.sarcastic_image_card {
	background-color: #2a363b;
	width: auto;
}

.sarcastic_image {
	max-width: 100%;
}

.details {
	border-left: 10px solid #99B898;
	border-right: 10px solid #99B898;
}


.demonstration {
	border-left: 10px solid #FF847C;
	border-right: 10px solid #FF847C;
}

.code {
	border-left: 10px solid #FECEA8;
	border-right: 10px solid #FECEA8;
}

.image {
	margin-top: 10px;
	max-width: 100%;
}

.author {
	float: bottom;
	float: right;
	color: ghostwhite;
	margin: 5px !important;
}

.landingimage {
	max-width: 770px;
}

.imageCard {
	max-width: 350px;
	/* margin: 2% 0 !important; */
}

@media (max-width: 770px) {
	.card {
		margin: 2% 0 !important;
	}
}
