.container {
	margin: 50px 0;
}

.card {
	margin: 0 2% !important;
}

.demonstration {
	border-bottom: 10px solid rgba(0, 0, 255, 0.5);
}

.details {
	border-bottom: 10px solid rgba(0, 255, 0, 0.5);
}

.deaths {
	float: right;
}

@media (max-width: 770px) {
	.card {
		margin: 2% 0 !important;
	}
}


.image {
	width: 100%;
	margin-top: 10px;
}