.container {
	margin: 1px 0;
	background-color: #2A363B;
    /* background-color: #1E6194; */
}

.card {
	margin: 1% 1% !important;
}

.discordlogo {
	width: 80% !important;
}

.placeholder {
	color: ghostwhite;
	margin: 30px 30px !important;
}

.details {
	border-left: 10px solid #99B898;
	border-right: 10px solid #99B898;
}

.demonstration {
	border-left: 10px solid #FF847C;
	border-right: 10px solid #FF847C;
}

.code {
	border-left: 10px solid #FECEA8;
	border-right: 10px solid #FECEA8;
}

.image {
	margin-top: 10px;
	max-width: 100%;
}

.author {
	float: bottom;
	float: right;
	color: ghostwhite;
	margin: 5px !important;
}

.landingimage {
	max-width: 770px;
}

@media (max-width: 770px) {
	.card {
		margin: 2% 0 !important;
	}
}
