.title {
    margin-right: 10px !important;
    color: ghostwhite;
}

.appbar {
    background-color: #E84A5F;
    /* background-color: #6F213B; */
    max-height: 100px;
    justify-content: center;
}

